*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header */
#header{
    position: fixed;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #111222;
    z-index: 1;
}
 /* Header > sidebar */
#header .sidebar{
    width: 20px;
    height: 20px;
    color: #fff;
    display: none;
}

/* Header > logo */
#header .logo{
    position: relative;
    left: -40px;
    top: 0;
    width: 200px;
    height:110px;
    box-shadow: #aa0ad6;
}

#header .logo img{
    position: absolute;
    z-index: 111;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Header > search */
.search-box{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 300px;
}

.search {
    background: #ccc;
    border-radius: 30px;
}

.search .input{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    width: 0;
    padding: 0;
    transition: all 0.25s ease-in-out;
}

.search:hover .input, .search .input:valid{
    width: 260px;
    padding: 10px 15px;
}

.search .btn{
    background-color: #ccc;
    border: none;
    outline: none;
    padding: 15px 15px;
    cursor: pointer;
    border-radius: 50%;
}

/* Header > nav */
#header #nav{
    height: 46px;
}

#header #nav li{
    display: inline-block;
    list-style: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

#header #nav li a{
    position: relative;
    display: block;
    text-decoration: none;
    color: white;
}

#header #nav li a::before{
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    height: 5px;
    width: 0px;
    background-color: none;
    transition: all 0.5s ease-in-out;
}

#header #nav li:nth-child(1):hover a::before{
    width: 100%;
    background-color: #3272e2;
}

#header #nav li:nth-child(2):hover a::before{
    width: 100%;
    background-color: #50ce80;
}

#header #nav li:nth-child(3):hover a::before{
    width: 100%;
    background-color: #aa0ad6;
}

#header #nav li:nth-child(1):hover a{
    color: #3272e2;
}

#header #nav li:nth-child(2):hover a{
    color: #50ce80;
}

#header #nav li:nth-child(3):hover a{
    color: #aa0ad6;
}

#header #nav .wall{
    position: relative;
    top: -53px;
    left: 26px;
}

/* Header > nav > icon */
#header .house{
    color: #3272e2;
    font-size: 25px;
}

#header .folder{
    color: #50ce80;
    font-size: 25px;
}

#header .user{
    color: #aa0ad6;
    font-size: 25px;
}

/* Header > nav > login-btn */
.login-btn{
    position: relative;
    display: inline-block;
    background-color: none;
    border: none;
    padding: 5px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background: none;
    border: 2px solid #fff;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.login-btn::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 40px;
    background:linear-gradient(-150deg, #FFCC33, #9966FF, #00FFFF);
    border-radius: 20%;
    transition: all 0.5s ease-in-out;
    z-index: -1;
}

.login-btn:hover{
    position: relative;
    z-index: 0;
}

.login-btn:hover::before,
.login-btn:hover::after{
    position: absolute;
    top: -5px; 
    right: 0;
    width: 100%;
}
/* Content */
.wrapper{
    background-color: #e9e9e9;
}
article{
    width: 100%;
}
.wrapper__khung{
    border: 1px solid orangered;
    background-color: #fffbf1;
    
}
.wrapper__khung-text1{
    background-color: #fdf0f0;
    text-align: left;
}
.wrapper__khung-text2{
    background-color: #e1dada;
    text-align: left;
}
.wrapper__khung1{
    height: 600px;
    border: 1px solid orangered;
    background-color: #fffbf1;
    width: 100%;
}
.wrapper__k1{
    text-align: left;
    line-height: 40px;
}
/* footer */
footer{
    width: 100%;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 50px 0 30px;
    font-size: 20px;
    line-height: 20px;
}

.footer__row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.footer__col {
    width: 25%;
    padding: 10px;
}

.footer__col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    
}

.footer__col-about ,.footer__col-social-mxh {
    list-style: none;
    padding: auto;
    cursor: pointer;
}

.footer__col-about a, .footer__col-social-mxh a{
    text-decoration: none;
    color: #fff;
}

.footer__col-connect{
    list-style: none;
    padding: auto;
}

.footer__col-item {
    padding-bottom: 10px;
}

.footer__col-letter {
    margin-bottom: 50px;
    padding-bottom: 15px;
}

.footer__col-input {
    width: 100%;
    padding-left: 5px;
    font-weight: 600;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button .fas{
    font-size: 16px;
    color: #ccc;
}

.fa-brands {
    color: #fff;
}

.footer__hr {
    width: 100%;
    background-color: #fff;
    opacity: 0.7;
}

.footer__p {
    font-size: 15px;
}
@media (max-width: 1108px){
    #header .logo{
        left: 0px;
        width: 100px;
        height: 100px;
    }

    #header #nav li{
        padding: 10px;
        font-size: 15px;
    }

    #header #nav .icon{
        font-size: 15px;
    }

    .search-box{
        width: 195px;
    }

    .search{
        height: 30px;
    }

    .search:hover .input, .search .input:valid{
        width: 160px;
        padding: 0 10px;
        font-size: 11px;
    }

    .search .btn{
        padding: 5px 10px;
    }

    /* main */
    .wrapper{
        padding: 10px;
        grid-template-columns: 50% 50%;
    }

    /* footer */
    footer{
        bottom: -2430px;
    }
}

@media (max-width: 740px){
    /* header */
    #header .sidebar{
        position: relative;
        top: -6%;
        left: 2%;
        display: block;
    }

    #header .logo{
        width: 15%;
        height: 98%;
        left: 10px;
    }

    #header #nav{
        position: fixed;
        top: 50px;
        left: -40%;
        height: 95vh;
        width: 40%;
        background-color: #111222;
    }

    #header #nav li{
        width: 100%;
        border-bottom: 2px solid #fff;
        padding-left: 30px;
    }

    #header #nav li a{
        font-size: 15px;
    }

    #header #nav .icon{
        display: none;
    }

    #header #nav.open{
        animation: open 1s ease-in-out forwards;
    }

    #header #nav.close{
        animation: close 1s ease-in-out forwards;
    }

    @keyframes open {
        from{
            transform: translateX(-36%);
        }
        to{
            transform: translateX(94%);
        }
    }

    @keyframes close {
        from{
            transform: translateX(90%);
        }
        to{
            transform: translateX(-36%);
        }
    }

    /* header > search */
    .search-box{
        width: 235px;
    }

    .search{
        height: 30px;
        width: 95%;
    }
    
    .search .input{
        font-size: 13px;
        width: 200px;
        padding: 10px 15px;
    }

    .search:hover .input, .search .input:valid{
        font-size: 13px;
        width: 200px;
        padding: 10px 15px;
    }

    .search .btn{
        padding: 6px;
    }

    /* header > buttonLogin */
    .login-btn{
        padding: 5px 10px;
        margin: 0 5px;
        font-size: 8px;
        text-align: center;
    }
}    
/*responsive-footer*/
@media(max-width: 739px){
    footer{
        height: 900px;
    }
    .footer__col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer__col{
      width: 100%;
  }
}